@import "tailwindcss";

:root {
  --font-family: var(--font-libre-franklin), Manrope, Poppins, Montserrat Roboto, Oxygen, Ubuntu, "Helveltica Neue", sans-serif;
}

@theme inline {
  --font-sans: var(--font-family);
}

* {
  transition: all 300ms;
  box-sizing: border-box;
  font-family: var(--font-family);
}
